{% extends 'index.html' %}

{% block title %} {{ tag.name }} {% endblock %}

{% block content %}
    <h1>{{ tag.name }}</h1>
    
    <a href="{{url_for('editTag', tag_id=tag.id)}}"><button type="button" class="btn btn-warning">Edit</button></a>
    <a href="{{ url_for('listTags') }}"><button type="button" class="btn btn-secondary">Back</button></a>
    <a href="{{ url_for('deleteTag', tag_id=tag.id) }}" onclick="return confirm('Are you sure you want to delete this tag?')">
        <button type="button" class="btn btn-danger">Delete</button>
    </a>
{% endblock %}
