{% extends 'index.html' %}

{% block title %} User {% endblock %}

{% block content %}
    <h1>User</h1>
    
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select a User
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for user in users %}
            <a class="dropdown-item" href="#">{{user.first_name}} {{user.last_name}}</a>
            {% endfor %}
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

      <form action="{{ url_for('newUser') }}" method="post">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name"><br>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name"><br>
        </div>
        <input type="submit" class="btn btn-primary" value="Add User">
        <a href="{{ url_for('listTags') }}"><button type="button" class="btn btn-secondary">See Tags</button></a>
    </form>

     <!-- <a href="{{ url_for('newUser') }}"><button type="button" class="btn btn-success">Add User</button></a> -->
{% endblock %}